## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [128]:
a = 1 

print(a)

1

2) Imprimir el tipo de dato de la variable 8.5

In [129]:
b = 8.5

print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [130]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [131]:
nombre = "Guillermo Sanchez"

5) Crear una constante que contenga el número Pi

In [132]:
PI = 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [133]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [134]:
e = 2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [135]:
var_1 = "true"
var_2 = 1 < 2

#No se tratan de lo mismo ya que una es un strings o cadena de caracteres ("True") y el otro es un Boleano de valor True (verdadero)

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [136]:
print(type(var_1))
print(type(var_2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [137]:
suma = 10 + 3.14

print(suma)

13.14

11) Realizar una operación de suma de un número definido como string con un entero

In [138]:
numero_string = "10"
numero_entero = 5

convertido = int(numero_string)

print(numero_entero + convertido)

15

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [139]:
potencia = e ** 3
print(potencia)

20.083723072568

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [140]:
num_1 = 2
num_2 = input("Ingrese numero") 

# "A tener en cuenta" El ingreso por teclado "input()" devuelve siempre una cadena de caracteres o string, 
# por lo que para este ejercicio es necesario convertir el numero a un valor entero "int()".

num_2 = int(num_2)

multiplicacion = (num_2 * num_1)

print(multiplicacion)

10

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [141]:
division = 27 / 4 

print(division)

6.75

15) De la división anterior solamente mostrar la parte entera

In [142]:
division2 = 27 // 4

print(division2)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [143]:
division3 = 27 % 4

print(division3)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [144]:
resultado = 4 * 6 + 3

print(resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [145]:
opcion_1 = "2"
opcion_2 = 2

print(type(opcion_1))
print(type(opcion_2))

# En la primer variable "opcion_1" nos encontramos con una variable de tipo "string" o "cadena de caracteres" mientras que la segunda variable es de tipo 
# "entero" o "int".

iguales = opcion_1 == opcion_2
if iguales == True:
    print("Ambas variables tiene tipos de datos iguales")
else: 
    print('Las variables poseen tipos de datos distintos, la variable "opcion_1" es de tipo string o cadena de caracteres y la variable "opcion_2" es de tipo entero.')

<class 'str'>
<class 'int'>
Las variables poseen tipos de datos distintos, la variable "opcion_1" es de tipo string o cadena de caracteres y la variable "opcion_2" es de tipo entero.

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [146]:
convertido_opcion_1 = int(opcion_1)

iguales = convertido_opcion_1 == opcion_2
if iguales == True:
    print("Ambas variables tiene tipos de datos iguales") 
else:
    print('Las variables poseen tipos de datos distintos, la variable "opcion_1" es de tipo string o cadena de caracteres y la variable "opcion_2" es de tipo entero.')

Ambas variables tiene tipos de datos iguales

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [147]:
#Cuenta como error porque dentro del parentesis del tipo de dato float o numero con decimales se ha colocado comillas, 
#lo que convierte el tipo de dato a spring o cadena de caracteres.

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [148]:
# Suma = 10 + '10' (No esta permitido porque son tipos de datos no validos para la operacion numerica "+" "int" y "string")
# Arrojarian diferente resultado, si fueran ambos datos de tipo entero arrojaria 20 y su fuesen strings arrojaria 1010.

suma_enteros = 10 + 10 
print(suma_enteros)

suma_strings = '10' + '10'
print(suma_strings)

20
1010

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [149]:
menu = """
MENU:
1- Pizza
2- Empanadas
3- Milanesas
4- Salir""" 

print(menu)

MENU:
1- Pizza
2- Empanadas
3- Milanesas
4- Salir

23) Crear una lista que contenga los números del 1 al 10

In [150]:
lista_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(lista_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [151]:
print(lista_1[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [152]:
lista_1.insert(3,'Guillero')

print(lista_1)

[1, 2, 3, 'Guillero', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [153]:
matriz = [ ["A","B","C"], ["D","E","F"], ["G","H","I"] ]

27) Imprimir la matriz creada en el punto 26

In [154]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [155]:
matriz[1][1] = "Z"

print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [160]:
matriz[0][0] = 1
matriz[0][1] = 2
matriz[0][2] = 3

print(matriz)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [9]:
tupla = ("Adidas", "Nike", "Puma", "Topper", "Fila")

print(type(tupla))

<class 'tuple'>

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [10]:
print(tupla[0])

Adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
# No se puede modificar una tupla, a diferencia de las listas, las tuplas una vez creadas no se pueden modificar, agregar o eliminar elementos.

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [16]:

diccionario = {"Nombre" : "Guillermo", "Apellido" : "Sanchez", "Edad" : 28, "Hobbies" : ["Ciclismo", "Futbol", "Gimnasio"]}
print(diccionario)

{'Nombre': 'Guillermo', 'Apellido': 'Sanchez', 'Edad': 28, 'Hobbies': ['Ciclismo', 'Futbol', 'Gimnasio']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [20]:
print(diccionario["Hobbies"])
print(type(diccionario))

['Ciclismo', 'Futbol', 'Gimnasio']
<class 'dict'>

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [21]:
diccionario["Edad"] = 29
print(diccionario["Edad"])

29